@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
    }

    section#login {
        width: 90vw;
    }

    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
        position: absolute;
        top: 3.6%;
    }

    
    section#login > div#form {
        float: right;
        width: 65%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
    }

    section#login {
        width: 90vw;
    }

    section#login > div#form {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        position: relative;
        top: 3.6%;
    }
}