@charset "UTF-8";

:root {
    --cor0: #49a09d;
    --cor1: #5f2c82;
}

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

body {
    background-color: var(--cor1);

    width: 100vw;
    height: 100vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
}


main {
    width: 100vw;
    height: 100vh;

    position: relative;
}

section#login {
    background-color: white;

    width: 250px;
    height: 550px;

    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: width .5s, height .5s;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    padding-bottom: 10px;
}

div#form > p {
    padding: 10px;
    font-size: 0.8em;
}

input {
    padding: 7px;
    border-radius: 8px;
}

section#login > div#imagem {
    background: white url('../Imagens/pexels-alexander-grey-1566909.jpg') center center no-repeat fixed; /* Photo by Alexander Grey: https://www.pexels.com/photo/blue-green-and-red-abstract-illustration-1566909/ */
    background-size: cover;

    height: 200px;
    
    margin: -20px;
    margin-bottom: 0px;
}

label {
    display: none;
}

form > div.campos {
    margin: 5px 0px;
}

div.campos > input {
    width: calc(100% - 44px);
    height: 100%;
    margin: 10px 0px;

    border: 1px solid black;
}

div.campos > span {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 50%;

    transform: translateY(8px);
}

div#botao {
    background-color: var(--cor0);
    border: 0px;
    border-radius: 8px;

    margin: 10px 0px;
    text-align: center;
    font-weight: bold;
}

input[type=submit] {
    background-color: var(--cor0);
    color: white;

    width: 100%;
    height: 40px;

    font-weight: bold;

    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2d6462;
}

a#senha {
    display: block;
    color: var(--cor0);

    width: 100%;
    height: 40px;
    padding: 5px;

    text-decoration: none;
    font-weight: bold;
    text-align: center;

    border: 2px solid var(--cor0);
    border-radius: 8px;
}

a#senha > span {
    font-size: 0.8em;
}

a#senha:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;

    padding: 10px;
    margin-top: auto;

    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover { 
    text-decoration: underline;
}